*{
    padding: 0;
    margin: 0; 
}
body{
    background-color: #F3F6F9;
}

h1{
    text-align: center;
    padding: 2vh;
}

.logo{
    max-width: 100px;
    margin-left: 2vh;
}

.input-form{
    margin-left: 4vh;
    margin-right: 4vh;
    margin-bottom: 2vh;
}

.container-input{
    background-color: #FFFFFF;
    padding: 2vh;
    max-width: 500px;
    margin-top: 10vh;
    margin-left: 4vh; 
    margin-right: 4vh;
    border-radius: 20px;
}

.container-input-endereco{
    background-color: #FFFFFF;
    padding: 2vh;
    max-width: 500px;
    margin-top: 3vh;
    margin-left: 4vh; 
    margin-right: 4vh;
    margin-bottom: 2vh;
    border-radius: 20px
} 

